<div class="tallest" fxLayout="column" fxShow fxHide.xs="true" fxHide.lg="false">
    <mat-toolbar>
        <mat-toolbar-row>
            <a mat-button routerLink="/home" routerLinkActive="active">
                <h4 class="rdpr">
                    HSPTL
                    <mat-icon>favorite</mat-icon>
                </h4>
            </a>
            <span class="space"></span>
            <h4 class="mat-card-body purple">
                Create Post
            </h4>
            <span class="space"></span>
            <a mat-button routerLink="/home-doctor" routerLinkActive="active">
                <h6 class="red">
                    <mat-icon>home</mat-icon>
                    Home
                </h6>
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="rest" fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field class="field-lg" appearance="outline">
            <mat-label>Post Title</mat-label>
            <input matInput type="text" placeholder="Post Title" #postTitleDes>
        </mat-form-field>
        <mat-form-field class="field-lg" appearance="outline">
            <mat-label>Post Content</mat-label>
            <textarea matInput matTextareaAutosize matAutosizeMinRows="10" matAutosizeMaxRows="12" #postContentDes></textarea>
        </mat-form-field>
        <mat-label>Post Media</mat-label>
        <input type="file" placeholder="Post Title" (change)="onFileSelected($event)">

        <mat-form-field class="field-lg">
            <mat-chip-list #chipList>
                <!-- <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
                    {{tag.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip> -->
                <input placeholder="New Tag" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="field-lg">
            <a mat-stroked-button fxFlex="100" class="purple-bg" (click)="this.postService.createPost({content:postContentDes.value, title:postTitleDes.value})">Post</a>
        </div>
    </div>
</div>