<div fxLayout="column" fxLayoutAlign="center center" fxFill fxShow fxHide.xs="true" fxHide.lg="false">
    <div class="mat-title rdpr">
        <mat-icon>warning</mat-icon>
        Seems... you have travelled so far ... ERR404 *_*
    </div>
    This URL is inaccessible cause you are not logged in.<br> Please login or revert back to home, for further help.
    <div fxLayout="row" fxLayoutAlign="space-between center" class="lower">
        <a mat-button class="field" routerLink="/login">Login <mat-icon>vpn_key</mat-icon></a>
        <a mat-button class="field" routerLink="/navbar">Home <mat-icon>home</mat-icon></a>
    </div>
</div>