<div class="tallest" fxLayout="column" fxShow fxHide.xs="true" fxHide.lg="false">
    <mat-toolbar color="primary" class="mat-elevation-z10 fixed-header" fxShow fxHide.xs="true" fxHide.lg="false">
        <mat-toolbar-row>
            <a mat-button routerLink="/login" routerLinkActive="active">
                <h4 class="red">
                    HSPTL
                    <mat-icon>favorite</mat-icon>
                </h4>
            </a>
            <a mat-button>Let's Cure</a>
            <a mat-button> Let's Talk </a>
            <a mat-button> Find a Doc' </a>
            <a mat-button routerLink="/blog" routerLinkActive="active">Blog</a>
            <span class="space"></span>
            <a mat-button routerLink="/login" routerLinkActive="active">Login / SignUp</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <!-- Additional -->
</div>