<div class="tallest" fxLayout="column" fxShow fxHide.xs="true" fxHide.lg="false">
    <mat-toolbar>
        <mat-toolbar-row>
            <a mat-button routerLink="/home" routerLinkActive="active">
                <h4 class="rdpr">
                    HSPTL
                    <mat-icon>favorite</mat-icon>
                </h4>
            </a>
            <span class="space"></span>
            <h4 class="mat-card-body purple">
                Verify Your Account !
            </h4>
            <span class="space"></span>
            <a mat-button routerLink="/home" routerLinkActive="active">
                <h6>
                    <mat-icon>keyboard_backspace</mat-icon>
                    Home
                </h6>
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
        <!-- TODO: To include Email's Field / Not ?! -->
        <div class="mat-title red">
            Verification Email has been send !
        </div>
        Please Check your Inbox
        <div fxLayout="column" fxLayoutAlign="space-between center" class="lower">
            <!-- <mat-form-field class="field" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Email" #emailDes>
            </mat-form-field> -->
            <a mat-button class="field" routerLink="/login">Go to Login Page<mat-icon>keyboard_tab</mat-icon></a>
        </div>
    </div>
</div>